/* novaur website main css! */

#test {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgba(129, 15, 15, 0.7);
  transition: background-color .1s;
}
#test:hover {
  background-color: transparent;
  cursor: pointer;
}
#test:hover:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgba(129, 15, 15, 0.9), rgba(129, 15, 15, 0.7), rgba(129, 15, 15, 0.9));
  background-size: 200% 200%;
  background-position: 0% 100%;
  animation-name: test_hover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes test_hover {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}

a {
  text-decoration-color: #a70505;
}

.center {
  text-align: center;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
    font-family: "GlacialIndifference";
    src: url("./fonts/GlacialIndifference-Regular.otf");
}

@font-face {
  font-family: "GlacialIndifferenceB";
  src: url("./fonts/GlacialIndifference-Bold.otf");
}

h1, h2, h3, h4, h5, h6, p {
font-family: "GlacialIndifference";
color: white;
}

.containery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.banner-head {
  color: white;
  text-align: center;
  opacity: 1;
}

a#funnibutton {
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: red;
    font-family: GlacialIndifferenceB;
    text-transform: uppercase;
    border: 2px solid #FF0000;
    background-color: #ff001f5b;
    text-decoration: none;
    border-radius: 10px;
}

.flex-div {
  display: flex;
  align-items: center;
}